.numeric {
	width:2em;
	max-width:3em;
}

#taskybird-preferences {
  min-width: 500px;
}

#taskyPane1 {
  padding: 1em;
}

#AJAX-Response {
  min-height: 5em;
}

#taskyBird-Options-general {
	min-height: 15em;
}

#taskyBird-options-title,
#taskyBird-options-version {
  font-family: Calibri, Sans-Serif;
	font-size: 16pt;
	color: rgba(10,10,128,0.8);
	text-shadow: 3px 3px 2px rgba(50,50,50,0.4);
}

#taskyBird-options-version {
  margin-right: 1em;
}

#taskyBird-header-container {
	-moz-box-sizing: border-box;
	background-color: transparent;
	position: relative;
	top: 0;
	width: 100%;
}

#btnAbout * {
	margin: 1em;
	padding: 10px;
}

#btnAbout {
  background: linear-gradient(to bottom, rgba(169,182,98,1) 0%, rgba(125,151,65,1) 50%, rgba(98,132,30,1) 51%, rgba(138,165,71,1) 100%);
	background-color: rgb(169,182,98) !important;
	color: #E0F0E0 !important;
	margin: 1em;
	padding: 10px;
}

#btnAbout.text-link:focus  {
	color: #FFF !important;
	background: rgb(191,210,85);
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
	border: 1px #006 solid;
  list-style-image: url("chrome://messenger/skin/preferences/arrow_green.png");
	text-decoration: underline !important;
}

label#btnAbout:hover {
	color: #FFFFFF !important;
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
	border: 1px #24463C solid;
}

label#btnAbout:active {
	color: #FFFFFF !important;
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%) !important;
	border: 1px #24463C solid;
}

label#btnAbout:active a {
	text-decoration: underline !important;
}